In [1]:
import numpy as np
import pandas as pd

In [3]:
data=pd.read_csv('zomato.csv',encoding='latin-1')
data.shape

(9551, 21)

In [4]:
data.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [5]:
data.drop(columns=['Restaurant ID','Is delivering now'],inplace=True)

In [6]:
data.columns

Index(['Restaurant Name', 'Country Code', 'City', 'Address', 'Locality',
       'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Switch to order menu', 'Price range',
       'Aggregate rating', 'Rating color', 'Rating text', 'Votes'],
      dtype='object')

In [7]:
data['Country Code'].nunique()

15

In [8]:
data['Country Code'].value_counts()

1      8652
216     434
215      80
214      60
30       60
189      60
148      40
208      34
14       24
162      22
94       21
191      20
166      20
184      20
37        4
Name: Country Code, dtype: int64

In [9]:
mask=data['Country Code']==1
data=data[mask]
data.shape

(8652, 19)

In [10]:
data.drop(columns=['Country Code','Currency'],inplace=True)

In [11]:
data.columns

Index(['Restaurant Name', 'City', 'Address', 'Locality', 'Locality Verbose',
       'Longitude', 'Latitude', 'Cuisines', 'Average Cost for two',
       'Has Table booking', 'Has Online delivery', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [12]:
data['City'].value_counts()

New Delhi       5473
Gurgaon         1118
Noida           1080
Faridabad        251
Ghaziabad         25
Ahmedabad         21
Lucknow           21
Guwahati          21
Amritsar          21
Bhubaneshwar      21
Varanasi          20
Kolkata           20
Goa               20
Pune              20
Kochi             20
Nashik            20
Kanpur            20
Mysore            20
Coimbatore        20
Chennai           20
Indore            20
Nagpur            20
Jaipur            20
Puducherry        20
Agra              20
Mangalore         20
Bangalore         20
Ranchi            20
Dehradun          20
Aurangabad        20
Patna             20
Ludhiana          20
Allahabad         20
Surat             20
Bhopal            20
Vizag             20
Mumbai            20
Vadodara          20
Chandigarh        18
Hyderabad         18
Secunderabad       2
Mohali             1
Panchkula          1
Name: City, dtype: int64

In [15]:
mask=data['City'].isin(['New Delhi','Gurgaon','Noida'])
data=data[mask]

In [16]:
data.shape

(7671, 17)

In [17]:
data.drop(columns=['Restaurant Name','Address','Locality','Locality Verbose','Rating color','Rating text'],inplace=True)

In [18]:
data.columns

Index(['City', 'Longitude', 'Latitude', 'Cuisines', 'Average Cost for two',
       'Has Table booking', 'Has Online delivery', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Votes'],
      dtype='object')

In [19]:
data.drop(columns=['Switch to order menu'],inplace=True)

In [20]:
data.columns

Index(['City', 'Longitude', 'Latitude', 'Cuisines', 'Average Cost for two',
       'Has Table booking', 'Has Online delivery', 'Price range',
       'Aggregate rating', 'Votes'],
      dtype='object')

In [21]:
data['Cuisines'].nunique()

1143

In [22]:
data['Has Table booking'].replace('Yes',1,inplace=True)
data['Has Table booking'].replace('No',0,inplace=True)

In [23]:
data['Has Table booking'].value_counts()

0    6640
1    1031
Name: Has Table booking, dtype: int64

In [24]:
data['Has Online delivery'].replace('Yes',1,inplace=True)
data['Has Online delivery'].replace('No',0,inplace=True)

In [25]:
data['Has Online delivery'].value_counts()

0    5393
1    2278
Name: Has Online delivery, dtype: int64

In [26]:
data.corr()['Average Cost for two']

Longitude               0.071854
Latitude                0.070816
Average Cost for two    1.000000
Has Table booking       0.643845
Has Online delivery     0.072198
Price range             0.848425
Aggregate rating        0.329785
Votes                   0.297741
Name: Average Cost for two, dtype: float64

In [28]:
data.drop(columns=['Longitude','Latitude','Has Online delivery','Price range'],inplace=True)

In [29]:
data.columns

Index(['City', 'Cuisines', 'Average Cost for two', 'Has Table booking',
       'Aggregate rating', 'Votes'],
      dtype='object')

In [33]:
cuisines=data.groupby('Cuisines')['Average Cost for two'].mean().reset_index()

In [39]:
new_data=data.merge(cuisines,on='Cuisines')
new_data.drop(columns=['Cuisines'],inplace=True)
new_data

,City,Average Cost for two_x,Has Table booking,Aggregate rating,Votes,Average Cost for two_y
0,Gurgaon,350,0,3.4,16,416.666667
1,New Delhi,200,0,0.0,0,416.666667
2,New Delhi,700,0,4.1,92,416.666667
3,Gurgaon,800,1,2.7,80,755.511551
4,Gurgaon,2000,1,4.3,1887,755.511551
5,Gurgaon,1500,1,4.0,1595,755.511551
6,Gurgaon,700,1,3.8,239,755.511551
7,Gurgaon,600,0,2.9,5,755.511551
8,Gurgaon,650,0,3.2,15,755.511551
9,Gurgaon,600,0,3.3,23,755.511551
10,Gurgaon,750,0,3.6,213,755.511551
11,Gurgaon,600,0,4.0,88,755.511551
12,Gurgaon,650,0,4.1,152,755.511551
13,Gurgaon,1600,0,4.1,229,755.511551
14,Gurgaon,800,0,2.6,26,755.511551
15,Gurgaon,2000,1,4.0,111,755.511551
16,Gurgaon,900,0,3.6,110,755.511551
17,Gurgaon,450,0,3.4,260,755.511551
18,Gurgaon,600,0,3.8,121,755.511551
19,Gurgaon,800,0,2.7,67,755.511551
20,Gurgaon,800,0,2.7,11,755.511551
21,Gurgaon,550,0,3.5,31,755.511551
22,Gurgaon,400,0,0.0,1,755.511551
23,Gurgaon,3000,1,3.7,340,755.511551
24,Gurgaon,700,0,2.8,16,755.511551
25,Gurgaon,900,1,3.0,61,755.511551
26,Gurgaon,350,0,0.0,2,755.511551
27,Gurgaon,500,0,0.0,3,755.511551
28,Gurgaon,800,0,3.4,1022,755.511551
29,Gurgaon,1400,1,3.3,586,755.511551
...,...,...,...,...,...,...
7641,Noida,500,0,0.0,3,500.000000
7642,Noida,600,0,0.0,2,600.000000
7643,Noida,500,0,4.1,43,500.000000
7644,Noida,500,0,3.0,4,500.000000
7645,Noida,400,0,3.1,10,400.000000
7646,Noida,550,0,3.2,48,550.000000
7647,Noida,600,0,3.7,142,600.000000
7648,Noida,300,0,0.0,2,300.000000
7649,Noida,100,0,0.0,1,100.000000
7650,Noida,500,0,0.0,0,500.000000
7651,Noida,550,0,0.0,2,550.000000
7652,Noida,600,0,2.9,25,600.000000
7653,Noida,500,0,3.8,200,500.000000
7654,Noida,500,0,2.4,77,500.000000
7655,Noida,500,0,0.0,0,500.000000
7656,Noida,400,0,2.9,4,400.000000
7657,Noida,350,0,3.3,12,350.000000
7658,Noida,500,0,3.1,6,500.000000
7659,Noida,250,0,0.0,0,250.000000
7660,Noida,500,0,0.0,0,500.000000
7661,Noida,500,0,0.0,0,500.000000
7662,Noida,600,0,0.0,3,600.000000
7663,Noida,200,0,3.4,23,200.000000
7664,Noida,1300,0,3.9,1088,1300.000000
7665,Noida,500,0,0.0,2,500.000000
7666,Noida,2500,1,2.2,116,2500.000000
7667,Noida,200,0,3.0,10,200.000000
7668,Noida,450,0,3.5,105,450.000000
7669,Noida,1000,1,0.0,0,1000.000000
7670,Noida,450,0,2.0,161,450.000000

In [42]:
new_data.rename(columns={'Average Cost for two_x':'cost','Average Cost for two_y':'cuisine_cost'},inplace=True)

In [43]:
new_data.head(5)

        City  cost  Has Table booking  Aggregate rating  Votes  cuisine_cost
0    Gurgaon   350                  0               3.4     16    416.666667
1  New Delhi   200                  0               0.0      0    416.666667
2  New Delhi   700                  0               4.1     92    416.666667
3    Gurgaon   800                  1               2.7     80    755.511551
4    Gurgaon  2000                  1               4.3   1887    755.511551

In [45]:
new_data=new_data[['City','Has Table booking','Aggregate rating','Votes','cuisine_cost','cost']]

In [46]:
new_data.head(3)

        City  Has Table booking  Aggregate rating  Votes  cuisine_cost  cost
0    Gurgaon                  0               3.4     16    416.666667   350
1  New Delhi                  0               0.0      0    416.666667   200
2  New Delhi                  0               4.1     92    416.666667   700

In [48]:
new_data.corr()['cost']

Has Table booking    0.643845
Aggregate rating     0.329785
Votes                0.297741
cuisine_cost         0.810225
cost                 1.000000
Name: cost, dtype: float64

In [70]:
X=new_data.iloc[:,:-1].values

In [76]:
y=new_data.iloc[:, -1].values
y

array([ 350,  200,  700, ...,  450, 1000,  450], dtype=int64)

In [83]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

In [84]:
X[:, 0]=encoder.fit_transform(X[:, 0])
X.shape

(7671, 11)

In [85]:
from sklearn.preprocessing import OneHotEncoder
oencoder=OneHotEncoder(categorical_features=[0])
X=oencoder.fit_transform(X).toarray()
X.shape

C:\Users\Shubham Jha\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

(7671, 12)

In [88]:
x=X[:,-1:]
X.shape

(7671, 12)